#grad{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(red, yellow, green);
   /* background-image: linear-gradient(to bottom right, red, yellow);*/
}
#grad1{
    height: 100px;
    width: 100%;
    background-image: radial-gradient(red 5%, yellow 15%, green 60%);
   /* background-image: radial-gradient(circle, red, yellow, green);
   background-image: repeating-radial-gradient(red, yellow 10%, green 15%);*/
}
.articleContainer2{
    border-style: dotted dashed solid double;
}
footer div.upDownFooter ul li
{
    list-style: circle;
}
.companyDetails p{
    font-style: italic;
}
.companyDetails{


}
footer div.contact
    {
        border-style: dashed;
        border-width: 1px;
        
    }