

footer div.upDownFooter ul li
{
    list-style: circle;
}
.companyDetails p{
    font-style: italic;
}
.companyDetails{


}
footer div.contact
    {
        border-style: dashed;
        border-width: 1px;
        
    }