h1,h2,h3,nav,footer{
    
    font-family: "Trebuchet MS", Tahoma ,sans-serif;    
    
}
html
{
    padding:0 13% ;
    
    background-color: rgb(191, 192, 186);
}


article, section
{   
   
   
   background-color: #ffffff;
}


body{
    font-family: Georgia, Cambria, sans-serif;
    font-size: 12px;
   background-color: #ffffff;
    height: max-content;
}
p{
    
    font-size:12px;
    
}
a
{
    font-size: 14px;
}

/*HEADER AND NAVIGATION BAR DESIGN BEGINS*/
nav{
        
    font-size:18px;
}
header
{   
    background-color: #ffffff;
}


@font-face {
    font-family:myFont;
    src: url(Sansation_Bold-webfont.woff);
}
#title p{
    font-family: myFont;
    width: 100px;
    word-wrap: break-word;
    border-left: 1px solid;
    padding-left: 5px;
    text-shadow: 2px 2px 8px rgb(103, 180, 204);
}
#title h1{
    word-wrap: normal;
    text-transform: uppercase;
    padding-right: 5px;
    font-size: 35px;
    text-shadow: 2px 2px 8px rgb(103, 180, 204);
}

header div#title p,h1
{
    display: inline-block;
}
nav#mainMenu
{   
    position: relative;
    background-color: #2aa2d4;
    height:2em;
    
}
nav#mainMenu ul li
{
    display:inline;
    border-right:1px solid #c3ffff;
    padding-right: 7px;
}
nav#mainMenu ul li:last-child
{
    display:inline;
    border-right:0px;
    padding-right: 7px;
}
header a{
   font-size: 12px;
}
header a:link {
    color: #fdfbfe;
    text-decoration: none;
}

header a:hover{
    color: rgb(100, 39, 136);
    text-decoration: underline;
}
header a:active{
    color: blue;
    text-decoration: underline;

}
div.logos
{
    padding:8px;
}
nav#mainMenu ul 
{
    float:right;
    margin-right:15px;
    margin-top:8px; 
}
.middle
{
    height:6.8em;
    position: relative;
   
}
.middle div#title
{   position: relative;
    left: 20px;        
    top: 30px;
    width: 40%;
}
header div div.search
{   position: relative;  
    width: max-content;
    float:right;  
    top: 27px;
    right: 15px;
}
header div div input[type=submit]
{   
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#2aa3d0;
    border-width: 0px;
    height: 27px;
    color: #fdfbfe;
}
header div div input[type=text]
{
    float:right;
    height:25px;
    width:170px;
    padding-left:10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 0px;
    background-color:#2a2a2a;
    color: #fdfdfd;
}
header div div input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fdfdfd;
    
  }
  
  header div div input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#fdfdfd;
  }

nav#secondaryMenu
{   position: relative;
    background-color: #2a2a2a;
    height:2em;

}
nav#secondaryMenu ul
{
    float:left;
    margin: 5px 20px;
    
}
nav#secondaryMenu ul li
{
    display: inline;
    border-left:1px solid #3b3b3b;
    padding: 2px 10px;
}
nav#secondaryMenu ul li a{
    font-size: 14px;
}
nav#secondaryMenu ul li a:link{
    text-decoration: none;
    color: #9c9c9c;
}

nav#secondaryMenu ul li a:hover{
    color: rgb(58, 175, 179);
    text-decoration: underline;
}
nav#secondaryMenu ul li a:active{
    color: blue;
    text-decoration: underline;

}

/*HEADER AND NAVIGATION BAR DESIGN ENDS*/
/*FOOTER DESIGN BEGINS*/
footer
{   position: relative;
    bottom: 0;
    height: 340px;
    padding:5px 20px 20px 20px;
    background-color: #1c1c1c;
    color: #525252;
}

footer div.upDownFooter
{  
    
    position: relative;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    
    
    
}
footer h4
{
    color:#f8f8f8;
}
footer div#topArrow
{   position: relative;
   
  width: 100%;
  
  
}
footer div.quickLinks ul li
{
    list-style: square;
}
footer div.upDownFooter div:not(:nth-child(3))
{   position: relative;
    display: inline-block;
    vertical-align: text-top;  
    margin-right: 20px;
    width: 19%;
    padding: 10px;
}
footer div.upDownFooter div input[type=submit]
{   
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border-width: 0;
    background-color:#2aa4dd;
    color: #f0fffe;
    width: auto;
}
footer div.upDownFooter div input
{   
    border-radius: 5px;
    padding: 5px 0px 5px 7px;
    width: 90%;
    margin-bottom: 8px;
    border-width: 0;
    background-color:#242424;
    color: #fdfbfe;
}

footer div.upDownFooter div textarea
{   
    border-radius: 5px;
    margin-bottom: 6px;
    border-width: 0;
    
    background-color:#242424;
    color: #5a5a5a;
}

footer p#copyright
{
    position: relative;
    float: left;
    top: 15px;
}
footer p#template
{   
    position: relative;
    float: right;
    top: 15px;
    
}footer div.quickLinks
{
    position: relative;
    display: inline-block;
    vertical-align: text-top;  
    margin-right: 20px;
    width: 23%;
    padding: 10px;
}
footer div.quickLinks ul li 
{
    height: 40px;
}
footer div.quickLinks ul li a
{
    border-bottom: 1px solid #212121;
    padding:5px 0;
}
footer div.quickLinks ul li a:first-child
{
    border-bottom: 1px solid #212121;
    padding:0 0 3px 0;
}
footer ul li a
{
    font-size: 12px;
    text-decoration: none;
    color: #525252;
    float: right;
}
footer ul li a:hover
{
    
    text-decoration: none;
    color: #935da8;
}
footer div.blogPosts ul li
{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px solid #212121;
    padding:0 0 10px 0;
}

footer div.blogPosts ul li img
{
    float: left;
    margin-right: 10px;
}
/*FOOTER DESIGN ENDS*/