article
{   
   
   min-height: 100px;
   width: 100%;
   
   background-color: #ffffff;
}
table{
    width: 100%;
}
h3.articlesHeaders1{
    position: absolute;
    bottom: 40px;
    margin: 20px;
    color: white;
}
.articleContainer1{
    position: relative;
    width: auto;
}